body {
  margin: 0;
  font-size: 12px;
  font-family: sans-serif;
  color: #a7a7a7;
  background-color: #000000;
}

a {
  text-decoration: none;
  color: #51bbd4;
}

.highligth {
  color: #51bbd4;
}

.floatright {
  float: right;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 140px;
  overflow: hidden;
  padding: 5px 10px 0px 10px;
  background-color: #2f3129;
  box-shadow: 0px 0px 25px 5px #000000;
  text-align: center;
  z-index: 9000;
}

.menu h1 {
  font-size: 20px;
  color: #f1f1f1;
}

.menu label {
  color: #51bbd4;
  background-color: rgba(7, 7, 7, 0.85);
  text-align: left;
  display: block;
  padding: 6px;
}

.menu .button {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 5px 10px;
  text-transform: lowercase;
  font-size: 14px;
  cursor: pointer;
  width: 120px;
  margin: 5px auto;
  box-shadow: 0px 0px 5px 0px #000000;
}

.menu .button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.menu .info {
  opacity: 0.75;
  cursor: inherit;
  background-color: inherit;
  color: white;
  font-size: 12px;
}

.menu .generate {
  padding: 10px 10px;
  background-color: #51bbd4;
}

.rendering .menu .generate {
  opacity: 0.2;
}

.sure {
  display: none;
}

.sure.show {
  display: block;
}

.sure span.button {
  display: inline-block;
  width: 40px;
  margin: 0px 3px;
}

.menu select {
  background-color: white;
  color: black;
  opacity: 0.75;
  padding: 5px 2px;
  text-transform: lowercase;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  margin: 0;
  border: none;
  box-shadow: 0px 0px 5px 0px #000000;
}

.phases {
  position: absolute;
  bottom: 15px;
  right: 0px;
  left: 180px;
  z-index: 100;
}

.phases span {
  display: inline-block;
  width: 70px;
  height: auto;
  max-height: 70px;
  padding: 10px;
  overflow: hidden;
}

.phases img {
  width: 100%;
  height: auto;
  cursor: pointer;
  box-shadow: 0px 0px 9px 1px #000000;
  border: 1px solid #ffffff;
}

#gallery {
  position: fixed;
  display: none;
  top: 0px;
  right: 0px;
  bottom: 20px;
  width: 210px;
  background-color: rgba(255, 255, 255, 0.21);
  padding: 5px 5px;
  overflow: auto;
  z-index: 100;
}

.galleryon #gallery {
  display: block;
}

#gallery span {
  display: inline-block;
  width: 90px;
  height: auto;
  max-height: 90px;
  padding: 3px;
  overflow: hidden;
  position: relative;
}

#gallery span .text {
  display: block;
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 0;
  width: 86px;
  padding: 2px;
  color: white;
  background-color: black;
  font-size: 10px;
  opacity: 0.5;
  text-align: center;
}

#gallery img {
  width: 100%;
  height: auto;
  cursor: pointer;
  background-color: #000000;
  box-shadow: 0px 0px 5px 0px #000000;
}

.stat {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.75;
  font-size: 11px;
  z-index: 100;
}

.msg .stat {
  opacity: 1;
}

.stat:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.85);
}

.stat div {
  float: left;
  margin: 3px 7px;
}

.stat .message {
  color: #30c6d4;
  font-weight: bold;
}

#panel {
  position: absolute;
  top: 22px;
  bottom: 95px;
  left: 182px;
  width: 40%;
  box-shadow: 0px 0px 25px 5px #000000;
  background-color: #2f3129;
  display: none;
  padding: 5px;
  z-index: 100;
}

#panel.show {
  display: block;
}

#editor {
  position: absolute;
  top: 25px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: 100;
}

#editor:hover {
  opacity: 1;
}

.spinner {
  display: block;
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  opacity: 0.3;
  margin: 6px;
  float: left;
}

.rendering .spinner {
  -webkit-animation: rotateplane 1s infinite ease-in-out;
  animation: rotateplane 1s infinite ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(360deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(0deg);
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateZ(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg);
  }
  50% {
    transform: perspective(120px) rotateZ(300deg);
    -webkit-transform: perspective(120px) srotateX(360deg);
  }
  100% {
    transform: perspective(120px) rotateZ(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg);
  }
}

.overlay {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  display: none;
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.uploading .overlay {
  opacity: 0.5;
  display: block;
}

.uploading .spinner {
  -webkit-animation: rotateplane 1s infinite ease-in-out;
  animation: rotateplane 1s infinite ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.overlay .spinner {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  margin: 6px;
  z-index: 100;
}

#three {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}
